.bg {
    background-image: url(img/bg_03.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e7dbcf;
}

.nav_logo {
    max-height: 30px;
}
.navbar-light .navbar-nav .nav-link {
    color: #18191F!important;
    font-weight: 600;
}

.mockup_trustyou {
    background-image: url(img/mockup_iphone.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 585px;
    width: 280px;
}

.btn_div {
    margin-top: 130%;
    margin-left: 23%;
}
.btn_trustyou {
    background-color: #CF3535;
    border-color: #CF3535;
}
.btn_trustyou:hover{
    background-color: #ff6565;
    border-color: #ff6565;
}

.btn_trustyou:not(:disabled):not(.disabled).active, .btn_trustyou:not(:disabled):not(.disabled):active, .btn_trustyou.focus, .btn_trustyou:focus{
    background-color: #ff6565!important;
    border-color: #ff6565!important;
    box-shadow: 0 0 0 0.2rem rgb(255 49 38 / 50%)!important;
}

@media (max-width: 1000px) {
    .bg {
        background-image: url(img/bg_mobile.png);
    }
    .btn_div {
        margin-top: 150%;
    }
}